{% extends "base.html" %}{% block content %} 



<table class="table table-bordered m-5">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Release date</th>
        <th scope="col">Album Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      
        {% for musician in musicians  %}
        <tr>
            <th scope="row">{{musician.id}}</th>
            <td><a href="{% url "edit" musician.id %}" style="text-decoration:none">{{musician.firstName}} {{musician.lastName}}</a></td>
            <td>{{musician.email}}</td>
            <td>{{musician.album.rating}}</td>
            <td>{{musician.instrumentType}}</td>
            <td>{{musician.album.releaseDate}}</td>
            <td>{{musician.album.albumName}}</td>
            <td><a href="{% url "editalbum" musician.album.id %}" class='btn btn-warning'>Edit</a> 
                <a href="{% url "delete" musician.id %}" class='btn btn-danger'>Delete</a></td>
          </tr>
        
        {% endfor %}
      
    </tbody>
  </table>


{% endblock content %}